<div class="container col-6">

  <div class="text-center mt-5">
    <%= image_tag 'logo_full.png', size: "202x68" %>
  </div>

  <div class="card mt-5">
    <div class="card-header">
      <h1 class="h3 text-center ">ログイン</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.text_field :login_id, class: "form-control mt-3", placeholder: "ユーザＩＤ" %>
            <%= f.password_field :password, class: "form-control mt-3", placeholder: "パスワード" %>

            <div class="text-center"><%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block mt-5" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to "ユーザ新規登録はこちら", new_user_path %>
  </div>

  <%= render 'layouts/footer' %>
</div>
