<div class="container">
  <div class="text-right">
    <%= link_to "ログイン", login_path, class: "btn btn-outline-primary mt-2"%>
  </div>

  <div class="container col-6">
    <div class="text-center">
      <%= image_tag 'logo_full.png', size: "202x68" %>
    </div>

    <div class="card mt-5">
      <div class="card-header">
        <h1 class="h3 text-center ">ユーザ新規登録</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <%= form_with model: @user, url: user_path, method: :post, local: true do |f| %>
              <%= f.label "ユーザＩＤ" %>
              <small class="text-muted">&nbsp;&nbsp;ログインの際に必要なユーザＩＤ</small>
              <%= f.text_field :login_id, class: "form-control", placeholder: "ユーザＩＤ" %>

              <%= f.label "パスワード", class: "mt-4" %>
              <small class="text-muted">&nbsp;&nbsp;ログインの際に必要なパスワード</small>
              <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
              <%= f.password_field :password_confirm, class: "form-control mt-2", placeholder: "もう一度入力してください" %>

              <%= f.label "ユーザ名", class: "mt-4" %>
              <small class="text-muted">&nbsp;&nbsp;システム内で使用される名前</small>
              <%= f.text_field :name, class: "form-control", placeholder: "ユーザ名" %>

              <div class="text-center"><%= f.submit "ユーザ登録", class: "btn btn-lg btn-primary btn-block mt-5" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
