<div class="container">
  <h1 class="text-left my-5">ブック編集</h1>
  
  <div class="card">
    <div class="card-header">
      登録内容
    </div>
    <div class="card-body">
    <%= form_for(@book) do |f| %>

      <div class="form-group">
        <%= f.label "記入者" %>
        <%= f.collection_select :user_id, User.all, :id, :name, {selected: current_user}, {class: 'form-control col-md-6', readonly: true} %>
      </div>

      <div class="form-group">
        <%= f.label "タイトル" %>
        <%= f.text_field :title, class: 'form-control col-md-6' %>
      </div>

      <div class="form-group">
        <%= f.label "詳細" %>
        <%= f.text_field :detail, class: "form-control col-md-6" %>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <%= f.label "ナレッジ" %>
          <%= f.collection_check_boxes(:knowledge_ids, Knowledge.all, :id, :title, {include_hidden: false}) do |b| %>
            <div class="form-check">
              <%= b.check_box(class: "form-check-input") %>
              <%= b.label(class: "form-check-label"){ b.text } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <%= f.label "タグ" %>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name, {include_hidden: false}) do |b| %>
            <div class="form-check">
              <%= b.check_box(class: "form-check-input") %>
              <%= b.label(class: "form-check-label"){ b.text } %>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
  
      <div class="text-center"><%= f.submit "登録", class: 'btn btn-primary w-25' %></div>
    <% end %>
    </div>
  </div>
</div>