<div class="container">

  <% breadcrumb :edit_book, @book %>

  <%= form_for(@book) do |f| %>
  <!-- ユーザID -->
  <%= f.hidden_field :user_id, value: current_user.id %>

  <!-- タイトル -->
  <div class="form-group mt-4">
    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
  </div>

  <!-- 詳細 -->
  <div class="form-group mt-2">
    <%= f.text_field :detail, class: "form-control", placeholder: "ブックの説明" %>
  </div>

  <!-- タグ -->
  <div class="form-group mt-3">
    <%= f.label "タグ" %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {include_hidden: false}, {class: "form-control tag-select", multiple: true} %>
  </div>

  <!-- ナレッジ -->
  <div class="form-group mt-3">
    <%= f.label "ブックに追加するナレッジ" %>
    <%= f.collection_select :knowledge_ids, Knowledge.all, :id, :title, {include_hidden: false}, {class: "form-control knowledge-select", multiple: true} %>
  </div>

  <div class="text-center my-3"><%= f.submit "ブックを更新", class: 'btn btn-primary w-25' %></div>
  <% end %>
</div>