<div class="container">

  <% breadcrumb :show_tag, @tag %>

  <!-- ヘッダ部 -->
  <h1 class="my-3">#<%= @tag.name %></h1>
  <hr>

  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <%= link_to "ブック", show_books_tag_path(@tag.id), class: "nav-link" %>
    </li>
    <li class="nav-item active">
      <%= link_to "ナレッジ", "#", class: "nav-link active" %>
    </li>
  </ul>

  <!-- コンテンツ部 -->
  <ul class="list-group mt-4">
    <% cnt = 0 %>
    <% @knowledges.each do |knowledge| %>
    <li class="list-group-item">
      <!-- タイトル -->
      <strong><%= link_to knowledge.title, knowledge_path(knowledge) %></strong>
      <small class="text-muted float-right">最終更新 : <%= knowledge.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
      <br>
      <!-- タグ -->
      <% @knowledge_tags[cnt].each do |tag| %>
      <span class="badge badge-pill badge-info"><%= tag.name %></span>&nbsp;
      <% end %>
      <br>
    </li>
    <% cnt += 1 %>
    <% end %>
  </ul>
  <br>
</div>
