<div class="container">

  <% breadcrumb :new_knowledge %>

  <%= form_for(@knowledge) do |f| %>
  <!-- ユーザID -->
  <%= f.hidden_field :user_id, value: current_user.id %>

  <!-- タイトル -->
  <div class="form-group mt-4">
    <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
  </div>

  <!-- タグ -->
  <div class="form-group mt-3">
    <%= f.label "タグ" %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {include_hidden: false}, {class: "form-control js-select", multiple: true} %>
  </div>
 
  <!-- コンテンツ -->
  <div class="form-group mt-5">
    <%= f.rich_text_area :content, class: "form-control rich-text-editor" %>
  </div>

  <div class="text-center my-3"><%= f.submit "ナレッジを追加", class: 'btn btn-primary w-25' %></div>

  <% end %>
</div>