<div class="container">

  <% breadcrumb :show_knowledge, @knowledge %>

  <!-- ヘッダ部 -->
  <h6 class="mt-4">
    <i class="fas fa-user"></i> <%= @knowledge.user.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <small class="text-muted">最終更新 : <%= @knowledge.updated_at.strftime("%Y-%m-%d %H:%M") %></small>
  </h6>
  <h1 class="my-3"><%= @knowledge.title %></h1>
  <% @tags.each do |tag| %>
  <span class="badge badge-pill badge-info"><%= tag.name %></span>&nbsp;
  <% end %>
  <hr>
  
  <!-- コンテンツ部 -->
  <div class="mb-5"><%= @knowledge.content %></div>
  
</div>
