<!DOCTYPE html>
<html>
  <head>
    <title>Bluemine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダ -->
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <% end %>
    
    <div class='container'>
      <!-- パンくずリスト -->
      <div class="mt-3"><%= breadcrumbs %></div>

      <!-- フラッシュ -->
      <% flash.each do |type, msg| %>
        <div class='alert alert-<%= type %> mt-3'><%= msg %></div>
      <% end %>

      <!-- 本文 -->
      <%= yield %>
    </div>
  </body>
</html>
