<!DOCTYPE html>
<html>
  <head>
    <title>Bluemine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <%= render 'layouts/header' %>

    <div class="d-flex" id="wrapper" v-bind:class='{toggled:isToggled}'>
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-book"></i> Books</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-lightbulb"></i> Knowledges</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tag"></i> Tags</a>
        </div>
      </div>
      
      <!-- Page Contents -->
      <div id="page-content-wrapper">
        <div class='container'>
          <% flash.each do |type, msg| %>
            <div class='alert alert-<%= type %> mt-3'><%= msg %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
